body{
    background-color: #5c7c9180;
    box-sizing: border-box;
}
.container{
    width: 450px;
    height: 550px;
    border: 1px solid #dddddd;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    margin-bottom: 40px;
    box-sizing: border-box;
    box-shadow: 2px;
    -webkit-box-shadow: 40px 40px 13px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 40px 40px 13px 0px rgba(0,0,0,0.15);
    box-shadow: 40px 40px 13px 0px rgba(0,0,0,0.15);
    border-radius: 5px;
    background-color: #808080;
}
.result{
    width: 80%;
    height: 80px;
    margin-left:auto;
    margin-right: auto; 
    margin-top:20px;
    border: 1px solid black;
    background-color: #aaaaaa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.first_operation{
    text-align: right;
    align-items: flex-start;
    opacity: .7;
    
}
input.second_operation{
    box-sizing: border-box;
    align-items: flex-end;
    display: flex;
    border: none;
    background-color: #aaaaaa;
    text-align: right;
    width: 100%;
    font-size: 22px;
}
.num-container{
    width: 80%;
    height: 400px;
    margin-left:auto;
    margin-right: auto; 
    margin-top:20px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    
}
.num-container>button{
    color: #dddddd;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #606060;
    margin: 10px;
    padding: 0;
    -webkit-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}
.num-container>button:hover
{
    cursor: pointer;
    color: #909090;
    box-shadow: none;
}
.zero
{
    grid-row: 6/7;
    grid-column: 1/3;
}
.plus
{
    grid-row: 3/5;
    grid-column: 4/5;
}
.enter
{
    grid-row: 5/ span 2;
    grid-column: 4/ span 1;
}
