body{
    background-color: #303030;
    box-sizing: border-box;
}
.container{
    width: 427px;
    height: 550px;
    border: 1px solid #dddddd;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    margin-bottom: 40px;
    box-sizing: border-box;
    box-shadow: 2px;
    -webkit-box-shadow: 40px 40px 13px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 40px 40px 13px 0px rgba(0,0,0,0.15);
    box-shadow: 40px 40px 13px 0px rgba(0,0,0,0.15);
    border-radius: 5px;
    background-color: #808080;
    padding: 20px;
}

.result{
    width: 100%;
    height: 75px;
    margin-left:auto;
    margin-right: auto; 
    background-color: #aaaaaa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Press Start 2P', cursive;
    color:#303030;
   
}
.first_operation{
    text-align: right;
    opacity: .85;
    font-size: .8em;
    padding: 4px;    
}
.second_operation{
    text-align: right;
    font-size: 1.1em;
    padding: 4px;
}
.btn_container{
    width: 100%;
    height: 400px;
    margin-left:auto;
    margin-right: auto; 
    margin-top:20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    
}
.btn_container button{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #606060;
    margin: 7px;
    padding: 0;
    -webkit-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}
button.enter{
    background-color: orange;
}
button:active{
    box-shadow: none;
}
.btn_container>button:hover
{
    cursor: pointer;
    color: #303030;
    opacity: .85;

}
.zero
{
    grid-row: 6/7;
    grid-column: 1/3;
}
.plus
{
    grid-row: 3/5;
    grid-column: 4/5;
}
.enter
{
    grid-row: 5/ span 2;
    grid-column: 4/ span 1;
}
