body{
    background-color: #808080;

}
#container{
    width: 450px;
    height: 550px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    margin-bottom: 40px;
    box-sizing: border-box;
}
#result{
    width: 80%;
    height: 80px;
    margin-left:auto;
    margin-right: auto; 
    margin-top:20px;
    border: 1px solid black;
}
#num-container{
    width: 80%;
    height: 400px;
    margin-left:auto;
    margin-right: auto; 
    margin-top:20px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    
}
.num{
 
    border: 1px solid black;
}
.zero
{
    grid-row: 5/6;
    grid-column: 1/3;
}
.plus
{
    grid-row: 2/4;
    grid-column: 4/5;
}
.enter
{
    grid-row: 4/ span 2;
    grid-column: 4/ span 1;
}
}
