@import "./colors";

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background: $bg-light-color;
}
.container{
    width: 100vw;
    height: 100vh;
    @include center();
}


.calc{
    width: 278px;
    background-color: $my-dark-color;
    @include center();
    padding: 5px;
    border-radius: 4px;

}
.result{
    min-height: 75px;  
    color: lightgrey;
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    text-align: right;
    word-wrap: break-word;
    margin-bottom: 10px;
}
.first_operation{
    min-height: 40px;
    font-size: 0.8em;
    opacity: .7;
    margin-bottom: 10px;
    margin-top: 10px;
}
.second_operation{
    min-height: 45px;
    font-size: 1.1em;
   
}
.btn_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);

    button{
        min-height: 40px;
        border:none;
        margin: 2px;        
        &:hover{
            cursor: pointer;
            opacity: .7;

        }
    }
   
}
.zero
{
    grid-row: 6/7;
    grid-column: 1/3;
}
.plus
{
    grid-row: 3/5;
    grid-column: 4/5;
}
.enter
{
    grid-row: 5/ span 2;
    grid-column: 4/ span 1;
    background-color: $my-orange;
}
